/* GENERAL */

.bg-white{
	background-color: #FCFCFC;
    box-shadow: 0px 1px 1px grey;
}

.bxshadow{
	    box-shadow: 0px 1px 1px grey;
}
.bxshadow-top {
				box-shadow: 0 -3px 3px -3px #BDBDBD;
			}

.c-gray{
	color:#D8DADB !important;
	font-size:14px;
}

.bg-white-ns{
		background-color: #FCFCFC;
}

.bg-footer{
	background-color: #1C1E23;
}


.rounded {
        -moz-border-radius:7px 7px 7px 7px;  // rounds corners for firefox
        border-radius:7px 7px 7px 7px;  //rounds corners for other browsers
        border:solid 1px #E85F28;
        background-color:#7F7F7F;
        padding:7px;
				color:white;
    }

.bg-gray-ns{
	background-color: #F9F9F9;
}

.bg-green-ns{
	background-color: #55B89C;
}

.bg-viola-ng{
	background-color: #915DB0;
}

.bg-orange-ng{
	background-color:#E85F28;
}

.bg-white-logo{
  background-color: #F9F9FA;
  box-shadow: 0px 1px 1px #BDBDBD;
}

.bg-slider{
  background-color: #1C222B;
}

.img-mh{
	max-height: 60px;
	margin: 15px;
}

.divider-dashed{
	height:0px;
	width:100%;
	margin:20px 0 20px 0;
	border-top: 2px dashed #eee;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.cars-colored{
		margin-left: 45px;
	}

	.align-left-mobile{
		text-align: left !important;
	}
	.inline-mobile{
		display:inline !important;
		margin-left: 3px;
	}

.margin-mobile{
	margin-top: 30px;
}
 }



.bg-azure{
	background-color:#5A8FDC;
}

.scard{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

}

.scard-border{
	    border: 1px solid rgba(0,0,0,.125);
}

.margin-slider{
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.c-azure{
	color:#477ED2 !important;
}

.c-white{
	color:#F9F9FA !important;
}

.card-margin{
	margin-top: 4px !important;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.mts-10{
	margin-top: 90px;
}
.no-m{
	margin-bottom: 0px;
}

.same-line{
	display: inline;
}

.c-orange{
	color:#E85F28;
}

.a-no{
	text-decoration: none;
}

.container-slider{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.opacityh{
	opacity:0.5; /* how much transparent you want image to be*/
  filter:alpha(opacity=40); /* browser fix*/
  -webkit-opacity:0.5; /*vendor prefixes for website browsers*/
  -moz-opacity:0.5; /* same as above, edited thankx to @ Daniel_Lisik  */
	transition: 0.3s ease;
}

.opacityh:hover{
  filter:alpha(opacity=40); /* browser fix*/
  -webkit-opacity:1; /*vendor prefixes for website browsers*/
  -moz-opacity:1; /* same as above, edited thankx to @ Daniel_Lisik  */
	transition: 0.3s ease;
	  opacity:1; /* how much transparent you want image to be*/
}

.txtcenter{
	text-align: center;
}

/* COLORED-DIV */

.colorme-azure{
	background-color: #FCFCFC;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color:#5a5a5a !important;
}
.colorme-azure:hover{
	background-color: #5A8FDC;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color: #FFFFFF !important;
}


.colorme-green{
	background-color: #FCFCFC;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color:#5a5a5a !important;
}
.colorme-green:hover{
	background-color: #55B89C;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color: #FFFFFF !important;
}

.colorme-viola{
	background-color: #FCFCFC;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color:#5a5a5a !important;
}
.colorme-viola:hover{
	background-color: #915DB0;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color: #FFFFFF !important;
}

.colorme-orange{
	background-color: #FCFCFC;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color:#5a5a5a !important;
}
.colorme-orange:hover{
	background-color: #E85F28;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color: #FFFFFF !important;
}

/* NAVBAR */

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link a {
	color:#007bff;
	text-decoration: underline;
}

/* open sans font */
.ops {
	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.ops-tt {

	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
}
.ops-t {
	color:#323933;
	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
}
.ops-2t {
	color:#323933;
	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
}

/* PARTICLES */
#particles-js {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
}
/* PARTICLES */
#particles-js canvas{
	max-height:550px;
		z-index: -1;
}
